:root {
  /*Colors*/
  --color-bg: rgb(235, 225, 225);
  --color-1: rgb(230, 195, 195);
  --game-card-winner: rgb(150, 170, 150);
  --game-card-loser: rgb(240, 120, 120, 0.7);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------Header-------*/

header {
  padding: 25px;
  display: flex;
  justify-content: center;
  background-color: var(--color-1);
}

/*------Footer-------*/

footer {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--color-1);
}

footer img {
  height: 30px;
}

/*------Player Profile------*/

/*----Player Profile Components----*/

/*--PPGame--*/

.PPGame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-profile-games {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 720px;
}

.player-profile-white-player,
.player-profile-black-player {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 20px;
}

.player-profile-winner {
  background-color: var(--game-card-winner);
}

.player-profile-loser {
  background-color: var(--game-card-loser);
}

.player-profile-player-name {
  font-size: 1.5rem;
}

.player-color-black,
.player-color-white {
  font-size: 1rem;
}

.player-color-black {
  color: rgb(40, 40, 40);
}

.player-color-white {
  color: rgb(0, 0, 0);
}
